LLM_BASE_URL=
NEO4J_DB_DESKTOP=
NEO4J_DB_PASSWORD_DESKTOP=
NEO4J_DB_USER_DESKTOP=
NEO4J_URI_DESKTOP=
NVIDIA_API_KEY=
NVIDIA_MODEL=
ONTOTEXT_DB_REPO_URL_DESKTOP=
PROFILE=
GEMINI_API_KEY=
REASON_DECAY=
REASON_EPSILON=
REASON_MAX_ITERATIONS=